body{
    background-color: #e0e0e0;
    text-align: center;
}

#game{
    display: grid;
    grid-template-columns: repeat(7, 110px);
    grid-template-rows: repeat(6, 110px);
    width:770px;
    height:660px;
    margin: 0 auto;
    padding:1px;
    justify-content: center;
    background-color: blue;
}

.cell{
    border: 2px solid blue;
    background-color: #e0e0e0;
    border-radius: 50%;
}

.cell:hover{
    background-color: blue;
}